{% extends 'base.html' %}

{% block title %}Activity Page{% endblock %}

{% block content %}

  <!-- <p>Hello, {{ user.username }}!</p> -->
  <br>
  <h2>Want to create a new Activity?</h2>

  <form action="activity" method="POST">
    
    <div>
        <label>Enter a new activity name:
            <input type="text" name="activity" required>
        </label>
    </div>

    <div>
        <label>Enter activity unit of measure:
            <input type="text" name="unit" required>
        </label>
    </div>
    
    <input class="myButton" type="submit" value="Add Activity">
  
  </form>
  <br>


  <h2>Your Activities:</h2>

  <ul>
    
    {% for activity in user.activities %}

      <li>{{ activity.act_name }} 
        
        <a class="delete-button" href="/delactivity/{{ activity.act_id }}" onclick="return confirm('Are you sure you want to delete this activity?')">
          &nbsp; delete &nbsp;
        </a>

      </li>

    {% endfor %}

  </ul>

{% endblock %}