<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}LogIt!{% endblock %}</title>
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css"> -->
  <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/styles.css">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="https://kit.fontawesome.com/eb8aeeba53.js" crossorigin="anonymous"></script>

  {% block head %}{% endblock %}
</head>

<body>

{% if request.path == "/weather" %}
  
{% endif %}

  <div class="container-fluid full-width">   <!-- Navbar full-width div -->

{% if request.path != "/" %}
  <nav class="navbar navbar-dark" style="background-color: lightyellow;">
    <!-- Navbar content -->
    <a href="/">Home</a>
      {% if "user_id" in session %}
        <a href="/dashboard">Dashboard</a>
        <a href="/weather">Weather</a>
        <a href="/activity">Add Activity</a>
        <a href="/event">Add Event</a>
        <a href="/logout">Logout</a>
      {% else %}
        <a href="/register">Register</a>
        <a href="/">Login</a>
      {% endif %}

  </nav>
{% endif %}

  </div>   <!-- Navbar full-width div -->
  <br>
  <div class="container-fluid">

  <h3 style="text-align: center;">LogIt! Activity App &nbsp;
  <i class="fas fa-running"></i> &nbsp;
  <i class="fas fa-cloud-sun-rain"></i> &nbsp;
  <i class="far fa-clock"></i> &nbsp;
  <i class="far fa-chart-bar"></i> &nbsp; 
  <i class="fas fa-sms"></i> &nbsp;
  </h3>

  <div id="clockbox"></div>

  <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning" style="font-size:150%; color:magenta;">{{ message }}</div>
      {% endfor %}
  {% endwith %}
  <!-- Show flashed messages -->

  {% block content %}BODY CONTENT GOES HERE{% endblock %}


  <footer><i>"LogIt!" Activity App</i></footer>

</div>
  <script type="text/javascript" src="/static/clock.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>