<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Activity Log{% endblock %}</title>
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css"> -->
  <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/styles.css">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="https://kit.fontawesome.com/eb8aeeba53.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container-fluid">


{% if request.path != "/" %}
  <nav class="navbar navbar-light" style="background-color: lightyellow;">
    <!-- Navbar content -->
    <a href="/">Home</a>
      {% if "user_id" in session %}
        <a href="/dashboard">Dashboard</a>
        <a href="/weather">Weather</a>
        <a href="/activity">Add Activity</a>
        <a href="/event">Add Event</a>
        <a href="/logout">Logout</a>
      {% else %}
        <a href="/register">Register</a>
        <a href="/">Login</a>
      {% endif %}

  </nav>
{% endif %}

  <br>
  <h3 style="text-align: center;">Activity Log App &nbsp;
  <i class="fas fa-running"></i> &nbsp;
  <i class="fas fa-cloud-sun-rain"></i> &nbsp;
  <i class="far fa-clock"></i> &nbsp;
  <i class="far fa-chart-bar"></i> &nbsp; 
  <i class="fas fa-sms"></i> &nbsp;
  </h3>

  <div id="clockbox" style="text-align: center;"></div>

  <!-- Show flashed messages -->
  <br></br>
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning" style="font-size:150%; color:magenta;">{{ message }}</div>
      {% endfor %}
  {% endwith %}
  <!-- Show flashed messages -->

  {% block content %}BODY CONTENT GOES HERE{% endblock %}


  <footer style="position:fixed;bottom:0;height:auto;margin-top:40px;width:100%;text-align:center;"><i>Activity Log App</i></footer>


<script type="text/javascript">
  var tday=["Sun","Mon","Tue","Wed","Thu","Fri","Sat"];
  var tmonth=["Jan","Feb","Mar","Apr","May","June","July","Aug","Sep","Oct","Nov","Dec"];

  function GetClock(){
    var d=new Date();
    var nday=d.getDay(),nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getFullYear();
    var nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds(),ap;

    if(nhour==0){ap=" AM";nhour=12;}
      else if(nhour<12){ap=" AM";}
      else if(nhour==12){ap=" PM";}
      else if(nhour>12){ap=" PM";nhour-=12;}

    if(nmin<=9) nmin="0"+nmin;
    if(nsec<=9) nsec="0"+nsec;

    var clocktext=""+tday[nday]+", "+tmonth[nmonth]+" "+ndate+", "+nyear+" "+"\n"+nhour+":"+nmin+":"+nsec+ap+"";
    $('#clockbox').html(`
      <div class="date">
        ${tday[nday]}, ${tmonth[nmonth]} ${ndate}, ${nyear}
      </div>
      <div class="time">
        ${nhour}:${nmin}:${nsec}${ap}
      </div>
    `);
  }

  GetClock();
  setInterval(GetClock,1000);

</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</div>
</body>
</html>