<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Activity Log{% endblock %}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="/static/styles.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="/static/css/styles.css"> -->
  <!-- <script src="http://code.jquery.com/jquery.js"></script> -->
  <script src="https://kit.fontawesome.com/eb8aeeba53.js" crossorigin="anonymous"></script>
</head>
<body>
  <h3 style="text-align: center;">Activity Log App &nbsp;
  <i class="fas fa-running"></i> &nbsp;
  <i class="fas fa-cloud-sun-rain"></i> &nbsp;
  <i class="far fa-chart-bar"></i> &nbsp; 
  <i class="fas fa-sms"></i> &nbsp;
  </h3>
  <div id="clockbox" style="text-align: center;"></div>

    {% if "user_id" in session %}
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/activity">Add Activity</a></li>
      <li><a href="/event">Add Event</a></li>
      <li><a href="/logout">Logout</a></li>
    {% else %}
      <li><a href="/register">Register</a></li>
      <li><a href="/">Login</a></li>
    {% endif %}

  Icon: <i class="fas fa-running"></i>

  <!-- Show flashed messages -->
  <br></br>
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning" style="font-size:150%; color:magenta;">{{ message }}</div>
      {% endfor %}
  {% endwith %}
  <!-- Show flashed messages -->

  {% block content %}BODY CONTENT GOES HERE{% endblock %}


  <footer style="position:fixed;bottom:0;height:auto;margin-top:40px;width:100%;text-align:center;"><i>Activity Log App</i></footer>


<script type="text/javascript">
  var tday=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
  var tmonth=["January","February","March","April","May","June","July","August","September","October","November","December"];

  function GetClock(){
    var d=new Date();
    var nday=d.getDay(),nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getFullYear();
    var nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds(),ap;

    if(nhour==0){ap=" AM";nhour=12;}
      else if(nhour<12){ap=" AM";}
      else if(nhour==12){ap=" PM";}
      else if(nhour>12){ap=" PM";nhour-=12;}

    if(nmin<=9) nmin="0"+nmin;
    if(nsec<=9) nsec="0"+nsec;

    var clocktext=""+tday[nday]+", "+tmonth[nmonth]+" "+ndate+", "+nyear+" "+"\n"+nhour+":"+nmin+":"+nsec+ap+"";
    document.getElementById('clockbox').innerHTML=clocktext;
  }

  GetClock();
  setInterval(GetClock,1000);
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>