{% extends 'base.html' %}

{% block title %}Add Event{% endblock %}

{% block content %}
  <!-- <p>Hello, {{ user.username }}!</p> -->

  <!-- <h2>Event Log</h2> -->
  <br>

  <h2>Please log an activity:</h2>

  <form action="event" method="POST">
    
    <label>Choose an activity:  </label>
    
      <select id="select-form" name="activity">

        <option></option>

        {% for activity in user.activities %}

          <option value="{{ activity.act_id }}">

            {{ activity.act_name }}

          </option>

        {% endfor %}

      </select>

    <br>

    <label>Enter the date of activity:  </label>
      
      <input type="date" name="date" required>

    <br>

    <label>Enter the amount of activity:  </label>
      
      <input type="text" name="amount" required>

        &nbsp;&nbsp;

        in <span id="act_unit"></span>

    <br>
    
    <input class="myButton" type="submit" value="Log Activity">

  </form>

  <br>


  <h3 id="summary_header"></h3>

  <ul id="events"></ul>
  

  <script type="text/javascript" src="/static/event.js"></script>

{% endblock %}