{% extends 'base.html' %}

{% block title %}Activity Log{% endblock %}

{% block content %}

  <h2>Activity Page</h2>
  <p>Hello, !</p>

  <form action="activity" method="POST">
    <div>
        <label>Activity name (e.g., walking, meditation, pushups, class)
            <input type="text" name="activity">
        </label>
    </div><br>
    <div>
        <label>Activity unit(e.g., steps, miles, min, each, boolean? (attended or not))
            <input type="text" name="unit">
        </label>
    </div><br>
    
    <input type="submit" value="Add Activity">
  </form>

{% endblock %}