<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Activity Log{% endblock %}</title>
  <!-- <link rel="stylesheet" href="/static/css/styles.css"> -->
  <!-- <script src="http://code.jquery.com/jquery.js"></script> -->
</head>
<body>
  <h3>Activity Log App</h3>

  {% block content %}BODY CONTENT GOES HERE{% endblock %}

  <!-- Show flashed messages -->
  <br></br>
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning" style="font-size:300%; color:magenta;">{{ message }}</div>
      {% endfor %}
  {% endwith %}
  <!-- Show flashed messages -->

  <!-- <footer>Activity Log App</footer> -->
</body>
</html>