<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Activity Log{% endblock %}</title>
  <!-- <link rel="stylesheet" href="/static/css/styles.css"> -->
  <!-- <script src="http://code.jquery.com/jquery.js"></script> -->
</head>
<body>
  <h3 style="text-align: center;">Activity Log App</h3>
    {% if "user_id" in session %}
      <li><a href="/users/{{ session['user_id'] }}">Profile</a></li>
      <li><a href="/logout">Logout</a></li>
    {% else %}
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    {% endif %}
  {% block content %}BODY CONTENT GOES HERE{% endblock %}

  <!-- Show flashed messages -->
  <br></br>
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning" style="font-size:300%; color:magenta;">{{ message }}</div>
      {% endfor %}
  {% endwith %}
  <!-- Show flashed messages -->

  <footer style="position:fixed;bottom:0;height:auto;margin-top:40px;width:100%;text-align:center;"><i>Activity Log App</i></footer>
</body>
</html>