{% extends 'base.html' %}

{% block title %}Activity Log{% endblock %}

{% block content %}

  <h2>Dashboard Page</h2>
  <p style="color:magenta; font-size:150%;">Hello, {{ user.username }}!</p>


  <h2>Your Events by Activity</h2>
  <ul>
    {% for activity in activities %}
      {% if activity.events %}
        <div>{{ activity.act_name }}</div>  
      {% endif %}
      {% for event in activity.events %}
        <li>{{  event.event_date.strftime("%m/%d/%Y") + " " + "%g" %  event.event_amt + " " + event.activity.act_unit }}</li>
      {% endfor %}
    {% endfor %}
  </ul>


{% endblock %}